.hex-grid__container {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  width: 100%;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(41, 1fr);
  grid-template-rows: repeat(61, 1fr);
}

.hex-grid__quadrant {
  background-image: url("/assets/border.png"), url("/assets/board.jpg");
  background-size: 100%, 100%;
  background-position: 50%, 50%;
  background-color: #000;
  grid-column-end: span 21;
  grid-row-end: span 31;
  z-index: 1;
  overflow: hidden;
  clip-path: polygon(
    0 3.23%,
    4.76% 0,
    9.52% 3.23%,
    14.29% 0,
    19.05% 3.23%,
    23.81% 0,
    28.57% 3.23%,
    33.33% 0,
    38.1% 3.23%,
    42.86% 0,
    47.62% 3.23%,
    52.38% 0,
    57.14% 3.23%,
    61.9% 0,
    66.67% 3.23%,
    71.43% 0,
    76.19% 3.23%,
    80.95% 0,
    85.71% 3.23%,
    90.48% 0,
    95.24% 3.23%,
    95.24% 3.23%,
    95.24% 9.68%,
    100% 12.9%,
    100% 19.35%,
    95.24% 22.58%,
    95.24% 29.03%,
    100% 32.26%,
    100% 38.71%,
    95.24% 41.94%,
    95.24% 48.39%,
    100% 51.61%,
    100% 58.06%,
    95.24% 61.29%,
    95.24% 67.74%,
    100% 70.97%,
    100% 77.42%,
    95.24% 80.65%,
    95.24% 87.1%,
    100% 90.32%,
    100% 96.77%,
    95.24% 100%,
    95.24% 100%,
    90.48% 96.77%,
    85.71% 100%,
    80.95% 96.77%,
    76.19% 100%,
    71.43% 96.77%,
    66.67% 100%,
    61.9% 96.77%,
    57.14% 100%,
    52.38% 96.77%,
    47.62% 100%,
    42.86% 96.77%,
    38.1% 100%,
    33.33% 96.77%,
    28.57% 100%,
    23.81% 96.77%,
    19.05% 100%,
    14.29% 96.77%,
    9.52% 100%,
    4.76% 96.77%,
    4.76% 90.32%,
    0 87.1%,
    0 80.65%,
    4.76% 77.42%,
    4.76% 70.97%,
    0 67.74%,
    0 61.29%,
    4.76% 58.06%,
    4.76% 51.61%,
    0 48.39%,
    0 41.94%,
    4.76% 38.71%,
    4.76% 32.26%,
    0 29.03%,
    0 22.58%,
    4.76% 19.35%,
    4.76% 12.9%,
    0 9.68%,
    0 3.23%,
    4.76% 0
  );

  &.flipped {
    transform: rotate(180deg);
  }

  &.quadrant-0 {
    background-position: 0 0;
  }

  &.quadrant-1 {
    background-position: 0 14.2857%;
  }

  &.quadrant-2 {
    background-position: 0 28.5714%;
  }

  &.quadrant-3 {
    background-position: 0 42.8571%;
  }

  &.quadrant-4 {
    background-position: 0 57.1428%;
  }

  &.quadrant-5 {
    background-position: 0 71.42857%;
  }

  &.quadrant-6 {
    background-position: 0 85.71428%;
  }

  &.quadrant-7 {
    background-position: 0 100%;
  }
}

#quadrant-top-left {
  grid-column-start: 1;
  grid-row-start: 1;
}

#quadrant-top-right {
  grid-column-start: 21;
  grid-row-start: 1;
}

#quadrant-bottom-left {
  grid-column-start: 1;
  grid-row-start: 31;
}

#quadrant-bottom-right {
  grid-column-start: 21;
  grid-row-start: 31;
}
