.hex-grid__item {
  position: relative;
  height: 0;
  padding-bottom: 115.7%;
  z-index: 5;
}

.hex-grid__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: transparent;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);

  &.selectable,
  &.player-1,
  &.player-2,
  &.player-3,
  &.player-4,
  &.player-5,
  &.player-5,
  &.player-6,
  &.player-7,
  &.player-8,
  &.player-9,
  &.player-10,
  &.player-11 {
    background-image: url("/assets/border.svg");
  }

  &.selectable {
    background-color: hsla(0, 0%, 100%, .7);
  }

  &.player-1 {
    background-color: rgba(167, 33, 33, 0.3);
    background-position: 9.09%;
  }

  &.player-2 {
    background-color: rgba(63, 145, 27, .3);
    background-position: 18.18%
  }

  &.player-3 {
    background-color: rgba(34, 81, 149, .3);
    background-position: 27.27%
  }

  &.player-4 {
    background-color: rgba(150, 97, 0, .3);
    background-position: 36.36%
  }

  &.player-5 {
    background-color: hsla(0, 0%, 100%, .3);
    background-position: 45.45%
  }

  &.player-6 {
    background-color: rgba(174, 20, 93, .3);
    background-position: 54.54%
  }

  &.player-7 {
    background-color: rgba(80, 0, 158, .3);
    background-position: 63.63%
  }

  &.player-8 {
    background-color: rgba(53, 125, 109, .3);
    background-position: 72.72%
  }

  &.player-9 {
    background-color: rgba(163, 84, 10, .3);
    background-position: 81.81%
  }

  &.player-10 {
    background-color: rgba(123, 136, 1, .3);
    background-position: 90.9%
  }

  &.player-11 {
    background-color: rgba(65, 65, 65, .3);
    background-position: 100%
  }

  .settlement {
    display: block;
    position: absolute;
    width: 60%;
    height: 60%;
    left: 20%;
    top: 20%;
    background-image: url("/assets/settlements.svg");
    background-size: 1100%;
    background-repeat: no-repeat;
    z-index: 10;

    &.player-1 {
      background-position: 0%;
    }

    &.player-2 {
      background-position: 10%;
    }

    &.player-3 {
      background-position: 20%;
    }

    &.player-4 {
      background-position: 30%;
    }

    &.player-5 {
      background-position: 40%;
    }

    &.player-6 {
      background-position: 50%;
    }

    &.player-7 {
      background-position: 60%;
    }

    &.player-8 {
      background-position: 70%;
    }

    &.player-9 {
      background-position: 80%;
    }

    &.player-10 {
      background-position: 90%;
    }

    &.player-11 {
      background-position: 100%;
    }
  }

  &[data-location] {
    background-image: url("/assets/tiles.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }

  // Castle
  &[data-location="1"] {
    background-image: url("/assets/locations.png");
    background-size: cover;
    background-position: center 0;
  }

  // Oracle
  &[data-location="2"] {
    background-position: 0 0;
  }

  // Farm
  &[data-location="3"] {
    background-position: 0 0;
  }

  // Tavern
  &[data-location="4"] {
    background-position: 0 28.57%;
  }
}
