#page-content {
  clear: left;
  margin-bottom: 5px;
  min-height: 400px;
  position: relative;
}

#game-area {
  margin-top: 5px;
  position: relative;
}

div {
  #game-area {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  #board {
    width: 100%;
    max-width: 1100px;
    flex-shrink: 0;
    margin-bottom: 5%;
  }
}

#grid-container {
  position: relative;
  width: 100%;

  &::before {
    content: "";
    padding-top: 86%;
    display: block;
  }
}
